--
-- PostgreSQL database dump
--

\restrict bhRekJ8y6LhMetpMFtXZEe8OSbTSA9k23V5D7SyYtyGHJbf43QR7c6UfFnvaxVs

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: ledgr
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO ledgr;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: ledgr
--

COMMENT ON SCHEMA public IS '';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: AgendaColor; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public."AgendaColor" AS ENUM (
    'YELLOW',
    'BLUE',
    'GREEN',
    'RED',
    'ORANGE',
    'PURPLE'
);


ALTER TYPE public."AgendaColor" OWNER TO ledgr;

--
-- Name: AgendaEventType; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public."AgendaEventType" AS ENUM (
    'PAYMENT',
    'TAX',
    'CLOSING',
    'MEETING',
    'REMINDER',
    'OTHER'
);


ALTER TYPE public."AgendaEventType" OWNER TO ledgr;

--
-- Name: DocumentStatus; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public."DocumentStatus" AS ENUM (
    'RASCUNHO',
    'EM_REVISAO',
    'AGUARDANDO_ASSINATURA',
    'ASSINADO',
    'REGISTRADO',
    'ARQUIVADO',
    'CANCELADO'
);


ALTER TYPE public."DocumentStatus" OWNER TO ledgr;

--
-- Name: DocumentType; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public."DocumentType" AS ENUM (
    'ESTATUTO_SOCIAL',
    'ATA_AGO',
    'ATA_AGE',
    'ATA_DIRETORIA',
    'ACORDO_ACIONISTAS',
    'CERTIFICADO_ACOES',
    'LIVRO_REGISTRO_ACOES',
    'LIVRO_TRANSFERENCIA_ACOES',
    'LIVRO_ATAS_AGO',
    'LIVRO_ATAS_AGE',
    'CONTRATO_SOCIAL',
    'ADITIVO_CONTRATUAL',
    'PROCURACAO',
    'FISCAL',
    'TRABALHISTA',
    'CONTABIL',
    'OUTRO'
);


ALTER TYPE public."DocumentType" OWNER TO ledgr;

--
-- Name: DocumentVisibility; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public."DocumentVisibility" AS ENUM (
    'PUBLICO',
    'RESERVADO',
    'RESTRITO',
    'CONTROLADO'
);


ALTER TYPE public."DocumentVisibility" OWNER TO ledgr;

--
-- Name: FiscalDocumentType; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public."FiscalDocumentType" AS ENUM (
    'NFE',
    'NFSE',
    'FATURA',
    'DUPLICATA',
    'BOLETO',
    'CONSUMO',
    'OUTROS'
);


ALTER TYPE public."FiscalDocumentType" OWNER TO ledgr;

--
-- Name: IntegrationStatus; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public."IntegrationStatus" AS ENUM (
    'PENDING',
    'INTEGRATED',
    'ERROR',
    'MANUAL'
);


ALTER TYPE public."IntegrationStatus" OWNER TO ledgr;

--
-- Name: SignatureMethod; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public."SignatureMethod" AS ENUM (
    'GOVBR',
    'CERT_A1',
    'CERT_A3'
);


ALTER TYPE public."SignatureMethod" OWNER TO ledgr;

--
-- Name: SignatureStatus; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public."SignatureStatus" AS ENUM (
    'PENDENTE',
    'ASSINADO',
    'RECUSADO',
    'EXPIRADO'
);


ALTER TYPE public."SignatureStatus" OWNER TO ledgr;

--
-- Name: account_nature; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public.account_nature AS ENUM (
    'DEBIT',
    'CREDIT'
);


ALTER TYPE public.account_nature OWNER TO ledgr;

--
-- Name: account_type; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public.account_type AS ENUM (
    'ASSET',
    'LIABILITY',
    'EQUITY',
    'REVENUE',
    'EXPENSE'
);


ALTER TYPE public.account_type OWNER TO ledgr;

--
-- Name: appraisal_type; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public.appraisal_type AS ENUM (
    'ASSET_VALUATION',
    'TECHNICAL_INSPECTION',
    'PHYSICAL_DEPRECIATION',
    'TAX_CLASSIFICATION',
    'ENGINEERING_REPORT'
);


ALTER TYPE public.appraisal_type OWNER TO ledgr;

--
-- Name: asset_event_type; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public.asset_event_type AS ENUM (
    'ACQUISITION',
    'ACTIVATION',
    'MAINTENANCE_OPENED',
    'MAINTENANCE_COMPLETED',
    'IMPROVEMENT_REGISTERED',
    'IMPROVEMENT_CAPITALIZED',
    'RETROFIT_STARTED',
    'RETROFIT_COMPLETED',
    'APPRAISAL_REGISTERED',
    'REVALUATION',
    'TRANSFER',
    'WRITE_OFF',
    'DISPOSAL'
);


ALTER TYPE public.asset_event_type OWNER TO ledgr;

--
-- Name: asset_group; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public.asset_group AS ENUM (
    'REAL_ESTATE',
    'MACHINERY_EQUIPMENT',
    'VEHICLE',
    'FURNITURE_FIXTURE',
    'IT_EQUIPMENT',
    'INTANGIBLE',
    'OTHER'
);


ALTER TYPE public.asset_group OWNER TO ledgr;

--
-- Name: asset_status; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public.asset_status AS ENUM (
    'PENDING_ACTIVATION',
    'ACTIVE',
    'UNDER_MAINTENANCE',
    'INACTIVE',
    'DISPOSED',
    'WRITTEN_OFF'
);


ALTER TYPE public.asset_status OWNER TO ledgr;

--
-- Name: depreciation_method; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public.depreciation_method AS ENUM (
    'STRAIGHT_LINE',
    'SUM_OF_DIGITS',
    'UNITS_OF_PRODUCTION',
    'ACCELERATED_2X'
);


ALTER TYPE public.depreciation_method OWNER TO ledgr;

--
-- Name: improvement_type; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public.improvement_type AS ENUM (
    'ACCESSORY',
    'CAPITALIZABLE_RENOVATION',
    'EXPANSION',
    'RETROFIT',
    'RESTORATION'
);


ALTER TYPE public.improvement_type OWNER TO ledgr;

--
-- Name: land_value_source; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public.land_value_source AS ENUM (
    'REGISTRY_FRACTION',
    'APPRAISAL_REPORT',
    'MARKET_ESTIMATE'
);


ALTER TYPE public.land_value_source OWNER TO ledgr;

--
-- Name: maintenance_status; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public.maintenance_status AS ENUM (
    'SCHEDULED',
    'IN_PROGRESS',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public.maintenance_status OWNER TO ledgr;

--
-- Name: maintenance_type; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public.maintenance_type AS ENUM (
    'PREVENTIVE',
    'CORRECTIVE',
    'PREDICTIVE',
    'OVERHAUL',
    'EMERGENCY'
);


ALTER TYPE public.maintenance_type OWNER TO ledgr;

--
-- Name: marital_status; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public.marital_status AS ENUM (
    'SOLTEIRO',
    'CASADO',
    'UNIAO_ESTAVEL',
    'SEPARADO',
    'DIVORCIADO',
    'VIUVO'
);


ALTER TYPE public.marital_status OWNER TO ledgr;

--
-- Name: matrimonial_regime; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public.matrimonial_regime AS ENUM (
    'COMUNHAO_PARCIAL',
    'COMUNHAO_UNIVERSAL',
    'SEPARACAO_TOTAL',
    'SEPARACAO_OBRIGATORIA',
    'PARTICIPACAO_FINAL_AQUESTOS'
);


ALTER TYPE public.matrimonial_regime OWNER TO ledgr;

--
-- Name: retrofit_status; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public.retrofit_status AS ENUM (
    'PLANNING',
    'IN_PROGRESS',
    'COMPLETED',
    'SUSPENDED',
    'CANCELLED'
);


ALTER TYPE public.retrofit_status OWNER TO ledgr;

--
-- Name: source_module; Type: TYPE; Schema: public; Owner: ledgr
--

CREATE TYPE public.source_module AS ENUM (
    'ACCOUNTING',
    'FINANCE',
    'FISCAL',
    'HR',
    'BANK_IMPORT',
    'ECD_IMPORT'
);


ALTER TYPE public.source_module OWNER TO ledgr;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AccountBalance; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public."AccountBalance" (
    id text NOT NULL,
    "accountId" uuid NOT NULL,
    "companyId" uuid NOT NULL,
    balance double precision NOT NULL,
    "referenceDate" timestamp(3) without time zone NOT NULL,
    "createdBy" uuid NOT NULL,
    "updatedBy" uuid NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AccountBalance" OWNER TO ledgr;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO ledgr;

--
-- Name: accounting_rules; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.accounting_rules (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    pattern character varying NOT NULL,
    suggested_account_id uuid NOT NULL,
    priority integer DEFAULT 1 NOT NULL
);


ALTER TABLE public.accounting_rules OWNER TO ledgr;

--
-- Name: agenda_events; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.agenda_events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title text NOT NULL,
    description text,
    color public."AgendaColor" NOT NULL,
    amount numeric(15,2),
    "apEntryId" uuid,
    "companyId" uuid NOT NULL,
    "createdAt" timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(6) without time zone,
    "dueDate" timestamp(6) without time zone NOT NULL,
    "eventType" public."AgendaEventType" NOT NULL,
    "fiscalDocumentId" uuid,
    "isPaid" boolean DEFAULT false NOT NULL,
    "isRecurring" boolean DEFAULT false NOT NULL,
    "paidAt" timestamp(6) without time zone,
    "parentEventId" uuid,
    "recurrenceRule" text,
    "updatedAt" timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.agenda_events OWNER TO ledgr;

--
-- Name: asset_appraisals; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.asset_appraisals (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    asset_id uuid NOT NULL,
    type public.appraisal_type NOT NULL,
    appraisal_date date NOT NULL,
    appraisal_firm character varying(255) NOT NULL,
    responsible_name character varying(255) NOT NULL,
    crea_registration character varying(50),
    appraised_value numeric(15,2) NOT NULL,
    previous_value numeric(15,2) NOT NULL,
    methodology text,
    conclusions text,
    estimated_remaining_months integer,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.asset_appraisals OWNER TO ledgr;

--
-- Name: asset_depreciation_logs; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.asset_depreciation_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    asset_id uuid NOT NULL,
    period date NOT NULL,
    method public.depreciation_method NOT NULL,
    monthly_charge numeric(15,2) NOT NULL,
    accum_deprec_before numeric(15,2) NOT NULL,
    accum_deprec_after numeric(15,2) NOT NULL,
    book_value_after numeric(15,2) NOT NULL,
    journal_entry_id uuid,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.asset_depreciation_logs OWNER TO ledgr;

--
-- Name: asset_history; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.asset_history (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    asset_id uuid NOT NULL,
    event_type public.asset_event_type NOT NULL,
    description text NOT NULL,
    previous_value numeric(15,2),
    new_value numeric(15,2),
    performed_by_id uuid,
    metadata json,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.asset_history OWNER TO ledgr;

--
-- Name: asset_improvements; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.asset_improvements (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    asset_id uuid NOT NULL,
    type public.improvement_type NOT NULL,
    description character varying(255) NOT NULL,
    justification text,
    technical_report text,
    start_date date NOT NULL,
    completion_date date,
    capitalization_date date,
    total_cost numeric(15,2) NOT NULL,
    useful_life_extension integer DEFAULT 0 NOT NULL,
    new_useful_life_months integer,
    capitalized boolean DEFAULT false NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.asset_improvements OWNER TO ledgr;

--
-- Name: asset_maintenances; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.asset_maintenances (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    asset_id uuid NOT NULL,
    type public.maintenance_type NOT NULL,
    status public.maintenance_status DEFAULT 'SCHEDULED'::public.maintenance_status NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    service_order_no character varying(50),
    provider_name character varying(255),
    provider_cnpj character varying(18),
    contact_info character varying(100),
    scheduled_date date NOT NULL,
    started_at timestamp(6) without time zone,
    completed_at timestamp(6) without time zone,
    estimated_cost numeric(12,2),
    actual_cost numeric(12,2),
    capitalizable boolean DEFAULT false NOT NULL,
    notes text,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    deleted_at timestamp(6) without time zone
);


ALTER TABLE public.asset_maintenances OWNER TO ledgr;

--
-- Name: asset_retrofit_phases; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.asset_retrofit_phases (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    project_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    sequence integer NOT NULL,
    description text,
    phase_budget numeric(15,2) NOT NULL,
    executed_amount numeric(15,2) DEFAULT 0 NOT NULL,
    planned_date date NOT NULL,
    completion_date date,
    completed boolean DEFAULT false NOT NULL
);


ALTER TABLE public.asset_retrofit_phases OWNER TO ledgr;

--
-- Name: asset_retrofit_projects; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.asset_retrofit_projects (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    asset_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    objective text NOT NULL,
    responsible character varying(255),
    status public.retrofit_status DEFAULT 'PLANNING'::public.retrofit_status NOT NULL,
    start_date date NOT NULL,
    planned_end_date date,
    actual_end_date date,
    total_budget numeric(15,2) NOT NULL,
    executed_amount numeric(15,2) DEFAULT 0 NOT NULL,
    physical_progress numeric(5,2) DEFAULT 0 NOT NULL,
    useful_life_impact integer DEFAULT 0 NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.asset_retrofit_projects OWNER TO ledgr;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    actor_id uuid,
    acao text NOT NULL,
    target_id text,
    antes jsonb,
    depois jsonb,
    ip text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO ledgr;

--
-- Name: certificates; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.certificates (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    alias character varying NOT NULL,
    type character varying NOT NULL,
    usage text[],
    encrypted_key text NOT NULL,
    certificate text NOT NULL,
    subject character varying NOT NULL,
    issuer character varying NOT NULL,
    serial_number character varying NOT NULL,
    valid_from timestamp(6) without time zone NOT NULL,
    valid_to timestamp(6) without time zone NOT NULL,
    fingerprint character varying(64) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.certificates OWNER TO ledgr;

--
-- Name: chart_of_accounts; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.chart_of_accounts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid,
    code character varying NOT NULL,
    name character varying NOT NULL,
    level integer NOT NULL,
    type public.account_type NOT NULL,
    nature public.account_nature NOT NULL,
    is_analytic boolean DEFAULT false NOT NULL,
    parent_id uuid,
    sped_code character varying,
    ifrs_code character varying,
    usgaap_code character varying,
    esocial_code character varying,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by_id uuid,
    is_active boolean DEFAULT true NOT NULL,
    updated_by_id uuid
);


ALTER TABLE public.chart_of_accounts OWNER TO ledgr;

--
-- Name: companies; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.companies (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tax_id character varying(18) NOT NULL,
    legal_name character varying NOT NULL,
    trade_name character varying,
    is_headquarter boolean DEFAULT false NOT NULL,
    opening_date date NOT NULL,
    street character varying NOT NULL,
    number character varying NOT NULL,
    complement character varying,
    neighborhood character varying NOT NULL,
    zip_code character varying(8) NOT NULL,
    state character varying(2) NOT NULL,
    city character varying NOT NULL,
    email character varying,
    phone_1 character varying,
    phone_2 character varying,
    equity numeric(15,2) NOT NULL,
    legal_nature character varying NOT NULL,
    size character varying NOT NULL,
    tax_regime character varying NOT NULL,
    status character varying NOT NULL,
    status_date date NOT NULL,
    simples_data json,
    mei_data json,
    last_rfb_sync timestamp(6) without time zone,
    partners jsonb,
    type character varying DEFAULT 'CLIENT'::character varying,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    main_activity character varying,
    secondary_activities json,
    status_reason character varying,
    register_book character varying(30),
    register_date date,
    register_number character varying(50),
    register_org character varying(50),
    register_sheet character varying(10),
    deleted_at timestamp(6) without time zone,
    country character varying DEFAULT 'Brasil'::character varying
);


ALTER TABLE public.companies OWNER TO ledgr;

--
-- Name: corporate_books; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.corporate_books (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    type character varying NOT NULL,
    book_number integer NOT NULL,
    is_digital_signed boolean DEFAULT false NOT NULL,
    digital_signature text,
    jucesp_certification character varying,
    certification_date date,
    content_url character varying,
    status character varying DEFAULT 'draft'::character varying NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.corporate_books OWNER TO ledgr;

--
-- Name: document_signatures; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.document_signatures (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_id uuid NOT NULL,
    signer_id uuid,
    method public."SignatureMethod" NOT NULL,
    status public."SignatureStatus" DEFAULT 'PENDENTE'::public."SignatureStatus" NOT NULL,
    signer_name character varying NOT NULL,
    signer_cpf character varying(14),
    signer_email character varying,
    signer_role character varying,
    document_hash character varying(64),
    signature_hash text,
    signature_format character varying,
    certificate_data json,
    govbr_transaction_id character varying,
    govbr_account_level character varying,
    ip_address character varying,
    user_agent character varying,
    signed_at timestamp(6) without time zone,
    expires_at timestamp(6) without time zone,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.document_signatures OWNER TO ledgr;

--
-- Name: document_signers; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.document_signers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_id uuid NOT NULL,
    user_id uuid,
    name character varying NOT NULL,
    cpf character varying(14),
    email character varying,
    role character varying,
    "order" integer DEFAULT 0 NOT NULL,
    status public."SignatureStatus" DEFAULT 'PENDENTE'::public."SignatureStatus" NOT NULL,
    notified_at timestamp(6) without time zone,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.document_signers OWNER TO ledgr;

--
-- Name: document_templates; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.document_templates (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid,
    type public."DocumentType" NOT NULL,
    name character varying NOT NULL,
    description text,
    content text NOT NULL,
    variables json,
    is_active boolean DEFAULT true NOT NULL,
    created_by_id uuid NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.document_templates OWNER TO ledgr;

--
-- Name: document_versions; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.document_versions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_id uuid NOT NULL,
    version integer NOT NULL,
    content text NOT NULL,
    content_hash character varying(64),
    change_note character varying,
    created_by_id uuid NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.document_versions OWNER TO ledgr;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid,
    book_number integer,
    description text,
    date date NOT NULL,
    file_url character varying,
    file_size integer,
    digital_signature text,
    registration_number character varying,
    registration_date date,
    notes text,
    created_by_id uuid NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp(6) without time zone,
    content text,
    content_hash character varying(64),
    current_version integer DEFAULT 1 NOT NULL,
    original_file_name character varying,
    pdf_url character varying,
    requires_jucesp boolean DEFAULT false NOT NULL,
    title character varying NOT NULL,
    type public."DocumentType" NOT NULL,
    status public."DocumentStatus" DEFAULT 'RASCUNHO'::public."DocumentStatus" NOT NULL,
    is_template boolean DEFAULT false NOT NULL,
    visibility public."DocumentVisibility" DEFAULT 'RESERVADO'::public."DocumentVisibility" NOT NULL
);


ALTER TABLE public.documents OWNER TO ledgr;

--
-- Name: ecd_imports; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.ecd_imports (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    file_name character varying NOT NULL,
    file_size integer,
    layout_version character varying NOT NULL,
    period_start date NOT NULL,
    period_end date NOT NULL,
    book_type character varying NOT NULL,
    book_number character varying NOT NULL,
    book_nature character varying NOT NULL,
    status character varying DEFAULT 'processing'::character varying NOT NULL,
    stats json,
    errors json,
    imported_by uuid NOT NULL,
    imported_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.ecd_imports OWNER TO ledgr;

--
-- Name: employees; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.employees (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    full_name character varying NOT NULL,
    tax_id character varying(11) NOT NULL,
    social_id character varying,
    birth_date date NOT NULL,
    hire_date date NOT NULL,
    termination_date date,
    role character varying NOT NULL,
    salary numeric(15,2) NOT NULL,
    department character varying,
    status character varying DEFAULT 'active'::character varying NOT NULL
);


ALTER TABLE public.employees OWNER TO ledgr;

--
-- Name: fiscal_documents; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.fiscal_documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "companyId" uuid NOT NULL,
    "documentType" public."FiscalDocumentType" NOT NULL,
    "documentNumber" text,
    "accessKey" character(44),
    "issuerCnpj" character varying(18) NOT NULL,
    "issuerName" text NOT NULL,
    "issuerStateReg" text,
    "issueDate" timestamp(6) without time zone NOT NULL,
    "dueDate" timestamp(6) without time zone NOT NULL,
    "competenceMonth" character(7) NOT NULL,
    "grossAmount" numeric(15,2) NOT NULL,
    "discountAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "netAmount" numeric(15,2) NOT NULL,
    "irAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "pisAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "cofinsAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "csllAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "issAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "inssAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "expenseAccountId" uuid,
    "costCenter" text,
    "integrationStatus" public."IntegrationStatus" DEFAULT 'PENDING'::public."IntegrationStatus" NOT NULL,
    "apEntryId" uuid,
    "journalEntryId" uuid,
    "agendaEventId" uuid,
    notes text,
    "attachmentUrl" text,
    status public."DocumentStatus" DEFAULT 'RASCUNHO'::public."DocumentStatus" NOT NULL,
    "createdAt" timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(6) without time zone NOT NULL,
    "deletedAt" timestamp(6) without time zone
);


ALTER TABLE public.fiscal_documents OWNER TO ledgr;

--
-- Name: fixed_assets; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.fixed_assets (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    internal_code character varying(30) NOT NULL,
    description character varying(255) NOT NULL,
    "group" public.asset_group NOT NULL,
    subgroup character varying(100),
    brand character varying(100),
    model character varying(100),
    serial_number character varying(100),
    location character varying(255),
    responsible_id uuid,
    status public.asset_status DEFAULT 'PENDING_ACTIVATION'::public.asset_status NOT NULL,
    notes text,
    acquisition_cost numeric(15,2) NOT NULL,
    acquisition_date date NOT NULL,
    residual_value numeric(15,2) DEFAULT 0 NOT NULL,
    book_value numeric(15,2) NOT NULL,
    market_value numeric(15,2),
    last_appraisal_date date,
    depreciation_method public.depreciation_method DEFAULT 'STRAIGHT_LINE'::public.depreciation_method NOT NULL,
    useful_life_months integer NOT NULL,
    remaining_life_months integer NOT NULL,
    annual_rate_percent numeric(5,2) NOT NULL,
    accumulated_depreciation numeric(15,2) DEFAULT 0 NOT NULL,
    depreciation_start date NOT NULL,
    non_depreciable boolean DEFAULT false NOT NULL,
    property_id uuid,
    iptu_registration character varying(50),
    registry_number character varying(60),
    total_area numeric(10,2),
    built_area numeric(10,2),
    assessed_value numeric(15,2),
    land_value_percent numeric(5,2),
    land_value_amount numeric(15,2),
    land_value_source public.land_value_source,
    street character varying(255),
    zip_code character varying(9),
    state character varying(2),
    city character varying(100),
    asset_account_id uuid,
    depreciation_acc_id uuid,
    accum_deprec_acc_id uuid,
    write_off_account_id uuid,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    deleted_at timestamp(6) without time zone
);


ALTER TABLE public.fixed_assets OWNER TO ledgr;

--
-- Name: journal_entries; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.journal_entries (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    date date NOT NULL,
    description text NOT NULL,
    reference character varying,
    source_module public.source_module DEFAULT 'ACCOUNTING'::public.source_module NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by_id uuid NOT NULL
);


ALTER TABLE public.journal_entries OWNER TO ledgr;

--
-- Name: journal_entry_items; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.journal_entry_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    journal_entry_id uuid NOT NULL,
    account_id uuid NOT NULL,
    value numeric(18,2) NOT NULL,
    type public.account_nature NOT NULL
);


ALTER TABLE public.journal_entry_items OWNER TO ledgr;

--
-- Name: person_companies; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.person_companies (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    person_id uuid NOT NULL,
    company_id uuid NOT NULL,
    role character varying NOT NULL,
    start_date date,
    end_date date,
    notes character varying,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.person_companies OWNER TO ledgr;

--
-- Name: persons; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.persons (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    cpf character varying(14) NOT NULL,
    full_name character varying NOT NULL,
    nickname character varying,
    mother_name character varying,
    father_name character varying,
    birth_date date,
    birth_city character varying,
    birth_state character varying(2),
    birth_country character varying DEFAULT 'Brasil'::character varying,
    nationality character varying DEFAULT 'Brasileira'::character varying,
    marital_status public.marital_status,
    matrimonial_regime public.matrimonial_regime,
    spouse_name character varying,
    spouse_cpf character varying(14),
    rg_number character varying,
    rg_issuer character varying,
    rg_issue_date date,
    cnh character varying,
    passport character varying,
    titulo_eleitor character varying,
    email character varying,
    phone_1 character varying,
    phone_2 character varying,
    street character varying,
    number character varying,
    complement character varying,
    neighborhood character varying,
    zip_code character varying(8),
    city character varying,
    state character varying(2),
    country character varying DEFAULT 'Brasil'::character varying,
    oab_number character varying,
    oab_state character varying(2),
    crc_number character varying,
    crc_state character varying(2),
    crc_type character varying,
    crea_number character varying,
    crea_state character varying(2),
    corecon_number character varying,
    corecon_state character varying(2),
    other_registrations json,
    bank_name character varying,
    bank_agency character varying,
    bank_account character varying,
    notes text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp(6) without time zone,
    gender character varying(20),
    dependents json
);


ALTER TABLE public.persons OWNER TO ledgr;

--
-- Name: profiles; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.profiles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying,
    permissions jsonb NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.profiles OWNER TO ledgr;

--
-- Name: properties; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.properties (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    incra character varying,
    car character varying,
    registry_office_id character varying,
    iptu character varying,
    fiscal_id character varying,
    property_tax_id character varying,
    municipal_registry character varying,
    registry_status_history text,
    assessed_value numeric(15,2),
    built_area numeric(10,2),
    city character varying,
    complement character varying,
    country character varying DEFAULT 'Brasil'::character varying,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp(6) without time zone,
    is_active boolean DEFAULT true NOT NULL,
    land_value_amount numeric(15,2),
    land_value_percent numeric(5,2),
    land_value_source public.land_value_source,
    neighborhood character varying,
    notes text,
    number character varying,
    registry_number character varying(60),
    state character varying(2),
    street character varying,
    total_area numeric(10,2),
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    zip_code character varying(9)
);


ALTER TABLE public.properties OWNER TO ledgr;

--
-- Name: user_companies; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.user_companies (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    company_id uuid NOT NULL,
    role character varying DEFAULT 'ADMIN'::character varying
);


ALTER TABLE public.user_companies OWNER TO ledgr;

--
-- Name: users; Type: TABLE; Schema: public; Owner: ledgr
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document character varying(20) NOT NULL,
    document_type character varying NOT NULL,
    email character varying NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying NOT NULL,
    nickname character varying,
    birth_date timestamp(6) without time zone,
    is_active boolean DEFAULT true NOT NULL,
    is_email_confirmed boolean DEFAULT false NOT NULL,
    is_document_confirmed boolean DEFAULT false NOT NULL,
    two_factor_secret character varying,
    two_factor_active boolean DEFAULT false NOT NULL,
    last_access timestamp(6) without time zone,
    failed_attempts integer DEFAULT 0 NOT NULL,
    blocked_until timestamp(6) without time zone,
    refresh_token character varying,
    profile_id uuid,
    status character varying DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp(6) without time zone,
    phone_1 character varying,
    phone_2 character varying,
    person_id uuid
);


ALTER TABLE public.users OWNER TO ledgr;

--
-- Data for Name: AccountBalance; Type: TABLE DATA; Schema: public; Owner: ledgr
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: ledgr
--



--
-- Data for Name: accounting_rules; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.accounting_rules (id, company_id, pattern, suggested_account_id, priority) FROM stdin;
\.


--
-- Data for Name: agenda_events; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.agenda_events (id, title, description, color, amount, "apEntryId", "companyId", "createdAt", "deletedAt", "dueDate", "eventType", "fiscalDocumentId", "isPaid", "isRecurring", "paidAt", "parentEventId", "recurrenceRule", "updatedAt") FROM stdin;
\.


--
-- Data for Name: asset_appraisals; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.asset_appraisals (id, company_id, asset_id, type, appraisal_date, appraisal_firm, responsible_name, crea_registration, appraised_value, previous_value, methodology, conclusions, estimated_remaining_months, created_at) FROM stdin;
\.


--
-- Data for Name: asset_depreciation_logs; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.asset_depreciation_logs (id, company_id, asset_id, period, method, monthly_charge, accum_deprec_before, accum_deprec_after, book_value_after, journal_entry_id, created_at) FROM stdin;
\.


--
-- Data for Name: asset_history; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.asset_history (id, company_id, asset_id, event_type, description, previous_value, new_value, performed_by_id, metadata, created_at) FROM stdin;
\.


--
-- Data for Name: asset_improvements; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.asset_improvements (id, company_id, asset_id, type, description, justification, technical_report, start_date, completion_date, capitalization_date, total_cost, useful_life_extension, new_useful_life_months, capitalized, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: asset_maintenances; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.asset_maintenances (id, company_id, asset_id, type, status, title, description, service_order_no, provider_name, provider_cnpj, contact_info, scheduled_date, started_at, completed_at, estimated_cost, actual_cost, capitalizable, notes, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: asset_retrofit_phases; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.asset_retrofit_phases (id, project_id, name, sequence, description, phase_budget, executed_amount, planned_date, completion_date, completed) FROM stdin;
\.


--
-- Data for Name: asset_retrofit_projects; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.asset_retrofit_projects (id, company_id, asset_id, name, objective, responsible, status, start_date, planned_end_date, actual_end_date, total_budget, executed_amount, physical_progress, useful_life_impact, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: ledgr
--



--
-- Data for Name: certificates; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.certificates (id, company_id, alias, type, usage, encrypted_key, certificate, subject, issuer, serial_number, valid_from, valid_to, fingerprint, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: chart_of_accounts; Type: TABLE DATA; Schema: public; Owner: ledgr
--



--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: ledgr
--



--
-- Data for Name: corporate_books; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.corporate_books (id, company_id, type, book_number, is_digital_signed, digital_signature, jucesp_certification, certification_date, content_url, status, created_at) FROM stdin;
\.


--
-- Data for Name: document_signatures; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.document_signatures (id, document_id, signer_id, method, status, signer_name, signer_cpf, signer_email, signer_role, document_hash, signature_hash, signature_format, certificate_data, govbr_transaction_id, govbr_account_level, ip_address, user_agent, signed_at, expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: document_signers; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.document_signers (id, document_id, user_id, name, cpf, email, role, "order", status, notified_at, created_at) FROM stdin;
\.


--
-- Data for Name: document_templates; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.document_templates (id, company_id, type, name, description, content, variables, is_active, created_by_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: document_versions; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.document_versions (id, document_id, version, content, content_hash, change_note, created_by_id, created_at) FROM stdin;
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.documents (id, company_id, book_number, description, date, file_url, file_size, digital_signature, registration_number, registration_date, notes, created_by_id, created_at, updated_at, deleted_at, content, content_hash, current_version, original_file_name, pdf_url, requires_jucesp, title, type, status, is_template, visibility) FROM stdin;
\.


--
-- Data for Name: ecd_imports; Type: TABLE DATA; Schema: public; Owner: ledgr
--



--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.employees (id, company_id, full_name, tax_id, social_id, birth_date, hire_date, termination_date, role, salary, department, status) FROM stdin;
\.


--
-- Data for Name: fiscal_documents; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.fiscal_documents (id, "companyId", "documentType", "documentNumber", "accessKey", "issuerCnpj", "issuerName", "issuerStateReg", "issueDate", "dueDate", "competenceMonth", "grossAmount", "discountAmount", "netAmount", "irAmount", "pisAmount", "cofinsAmount", "csllAmount", "issAmount", "inssAmount", "expenseAccountId", "costCenter", "integrationStatus", "apEntryId", "journalEntryId", "agendaEventId", notes, "attachmentUrl", status, "createdAt", "updatedAt", "deletedAt") FROM stdin;
\.


--
-- Data for Name: fixed_assets; Type: TABLE DATA; Schema: public; Owner: ledgr
--



--
-- Data for Name: journal_entries; Type: TABLE DATA; Schema: public; Owner: ledgr
--



--
-- Data for Name: journal_entry_items; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.journal_entry_items (id, journal_entry_id, account_id, value, type) FROM stdin;
\.


--
-- Data for Name: person_companies; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.person_companies (id, person_id, company_id, role, start_date, end_date, notes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: persons; Type: TABLE DATA; Schema: public; Owner: ledgr
--



--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.profiles (id, name, permissions, is_active, created_at, deleted_at, updated_at) FROM stdin;
ad8e026c-4164-4fc7-8668-42cc7f3cc67e	Administrador Master	{"all": true}	t	2026-03-18 15:06:28.292419	\N	2026-03-18 15:40:03.936171
b1234567-c123-d123-e123-f12345678901	Operador	{"read": true, "write": true, "delete": false}	t	2026-03-18 15:06:28.317381	\N	2026-03-18 15:40:03.936171
c2345678-d234-e234-f234-a23456789012	Visualizador	{"read": true, "write": false, "delete": false}	t	2026-03-18 15:06:29.189087	\N	2026-03-18 15:40:03.936171
\.


--
-- Data for Name: properties; Type: TABLE DATA; Schema: public; Owner: ledgr
--

COPY public.properties (id, company_id, incra, car, registry_office_id, iptu, fiscal_id, property_tax_id, municipal_registry, registry_status_history, assessed_value, built_area, city, complement, country, created_at, deleted_at, is_active, land_value_amount, land_value_percent, land_value_source, neighborhood, notes, number, registry_number, state, street, total_area, updated_at, zip_code) FROM stdin;
\.


--
-- Data for Name: user_companies; Type: TABLE DATA; Schema: public; Owner: ledgr
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: ledgr
--



--
-- Name: AccountBalance AccountBalance_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public."AccountBalance"
    ADD CONSTRAINT "AccountBalance_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: accounting_rules accounting_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.accounting_rules
    ADD CONSTRAINT accounting_rules_pkey PRIMARY KEY (id);


--
-- Name: agenda_events agenda_events_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.agenda_events
    ADD CONSTRAINT agenda_events_pkey PRIMARY KEY (id);


--
-- Name: asset_appraisals asset_appraisals_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.asset_appraisals
    ADD CONSTRAINT asset_appraisals_pkey PRIMARY KEY (id);


--
-- Name: asset_depreciation_logs asset_depreciation_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.asset_depreciation_logs
    ADD CONSTRAINT asset_depreciation_logs_pkey PRIMARY KEY (id);


--
-- Name: asset_history asset_history_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.asset_history
    ADD CONSTRAINT asset_history_pkey PRIMARY KEY (id);


--
-- Name: asset_improvements asset_improvements_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.asset_improvements
    ADD CONSTRAINT asset_improvements_pkey PRIMARY KEY (id);


--
-- Name: asset_maintenances asset_maintenances_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.asset_maintenances
    ADD CONSTRAINT asset_maintenances_pkey PRIMARY KEY (id);


--
-- Name: asset_retrofit_phases asset_retrofit_phases_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.asset_retrofit_phases
    ADD CONSTRAINT asset_retrofit_phases_pkey PRIMARY KEY (id);


--
-- Name: asset_retrofit_projects asset_retrofit_projects_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.asset_retrofit_projects
    ADD CONSTRAINT asset_retrofit_projects_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: certificates certificates_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_pkey PRIMARY KEY (id);


--
-- Name: chart_of_accounts chart_of_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.chart_of_accounts
    ADD CONSTRAINT chart_of_accounts_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: corporate_books corporate_books_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.corporate_books
    ADD CONSTRAINT corporate_books_pkey PRIMARY KEY (id);


--
-- Name: document_signatures document_signatures_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.document_signatures
    ADD CONSTRAINT document_signatures_pkey PRIMARY KEY (id);


--
-- Name: document_signers document_signers_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.document_signers
    ADD CONSTRAINT document_signers_pkey PRIMARY KEY (id);


--
-- Name: document_templates document_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.document_templates
    ADD CONSTRAINT document_templates_pkey PRIMARY KEY (id);


--
-- Name: document_versions document_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT document_versions_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: ecd_imports ecd_imports_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.ecd_imports
    ADD CONSTRAINT ecd_imports_pkey PRIMARY KEY (id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: fiscal_documents fiscal_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.fiscal_documents
    ADD CONSTRAINT fiscal_documents_pkey PRIMARY KEY (id);


--
-- Name: fixed_assets fixed_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.fixed_assets
    ADD CONSTRAINT fixed_assets_pkey PRIMARY KEY (id);


--
-- Name: journal_entries journal_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.journal_entries
    ADD CONSTRAINT journal_entries_pkey PRIMARY KEY (id);


--
-- Name: journal_entry_items journal_entry_items_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.journal_entry_items
    ADD CONSTRAINT journal_entry_items_pkey PRIMARY KEY (id);


--
-- Name: person_companies person_companies_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.person_companies
    ADD CONSTRAINT person_companies_pkey PRIMARY KEY (id);


--
-- Name: persons persons_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.persons
    ADD CONSTRAINT persons_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- Name: properties properties_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT properties_pkey PRIMARY KEY (id);


--
-- Name: user_companies user_companies_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.user_companies
    ADD CONSTRAINT user_companies_pkey PRIMARY KEY (id);


--
-- Name: users users_person_id_key; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_person_id_key UNIQUE (person_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: AccountBalance_accountId_referenceDate_key; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE UNIQUE INDEX "AccountBalance_accountId_referenceDate_key" ON public."AccountBalance" USING btree ("accountId", "referenceDate");


--
-- Name: AccountBalance_companyId_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX "AccountBalance_companyId_idx" ON public."AccountBalance" USING btree ("companyId");


--
-- Name: AccountBalance_referenceDate_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX "AccountBalance_referenceDate_idx" ON public."AccountBalance" USING btree ("referenceDate");


--
-- Name: accounting_rules_company_id_pattern_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX accounting_rules_company_id_pattern_idx ON public.accounting_rules USING btree (company_id, pattern);


--
-- Name: agenda_events_companyId_dueDate_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX "agenda_events_companyId_dueDate_idx" ON public.agenda_events USING btree ("companyId", "dueDate");


--
-- Name: agenda_events_companyId_isPaid_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX "agenda_events_companyId_isPaid_idx" ON public.agenda_events USING btree ("companyId", "isPaid");


--
-- Name: asset_appraisals_asset_id_appraisal_date_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX asset_appraisals_asset_id_appraisal_date_idx ON public.asset_appraisals USING btree (asset_id, appraisal_date);


--
-- Name: asset_depreciation_logs_asset_id_period_key; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE UNIQUE INDEX asset_depreciation_logs_asset_id_period_key ON public.asset_depreciation_logs USING btree (asset_id, period);


--
-- Name: asset_depreciation_logs_company_id_period_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX asset_depreciation_logs_company_id_period_idx ON public.asset_depreciation_logs USING btree (company_id, period);


--
-- Name: asset_history_asset_id_created_at_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX asset_history_asset_id_created_at_idx ON public.asset_history USING btree (asset_id, created_at);


--
-- Name: asset_history_company_id_event_type_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX asset_history_company_id_event_type_idx ON public.asset_history USING btree (company_id, event_type);


--
-- Name: asset_improvements_asset_id_capitalized_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX asset_improvements_asset_id_capitalized_idx ON public.asset_improvements USING btree (asset_id, capitalized);


--
-- Name: asset_maintenances_asset_id_status_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX asset_maintenances_asset_id_status_idx ON public.asset_maintenances USING btree (asset_id, status);


--
-- Name: asset_maintenances_company_id_scheduled_date_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX asset_maintenances_company_id_scheduled_date_idx ON public.asset_maintenances USING btree (company_id, scheduled_date);


--
-- Name: asset_retrofit_phases_project_id_sequence_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX asset_retrofit_phases_project_id_sequence_idx ON public.asset_retrofit_phases USING btree (project_id, sequence);


--
-- Name: asset_retrofit_projects_asset_id_status_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX asset_retrofit_projects_asset_id_status_idx ON public.asset_retrofit_projects USING btree (asset_id, status);


--
-- Name: certificates_company_id_is_active_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX certificates_company_id_is_active_idx ON public.certificates USING btree (company_id, is_active);


--
-- Name: certificates_valid_to_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX certificates_valid_to_idx ON public.certificates USING btree (valid_to);


--
-- Name: chart_of_accounts_company_id_code_key; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE UNIQUE INDEX chart_of_accounts_company_id_code_key ON public.chart_of_accounts USING btree (company_id, code);


--
-- Name: chart_of_accounts_company_id_type_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX chart_of_accounts_company_id_type_idx ON public.chart_of_accounts USING btree (company_id, type);


--
-- Name: companies_tax_id_key; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE UNIQUE INDEX companies_tax_id_key ON public.companies USING btree (tax_id);


--
-- Name: document_versions_document_id_version_key; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE UNIQUE INDEX document_versions_document_id_version_key ON public.document_versions USING btree (document_id, version);


--
-- Name: documents_company_id_type_deleted_at_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX documents_company_id_type_deleted_at_idx ON public.documents USING btree (company_id, type, deleted_at);


--
-- Name: documents_company_id_visibility_deleted_at_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX documents_company_id_visibility_deleted_at_idx ON public.documents USING btree (company_id, visibility, deleted_at);


--
-- Name: documents_is_template_type_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX documents_is_template_type_idx ON public.documents USING btree (is_template, type);


--
-- Name: ecd_imports_company_id_period_start_period_end_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX ecd_imports_company_id_period_start_period_end_idx ON public.ecd_imports USING btree (company_id, period_start, period_end);


--
-- Name: ecd_imports_company_id_status_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX ecd_imports_company_id_status_idx ON public.ecd_imports USING btree (company_id, status);


--
-- Name: fiscal_documents_accessKey_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX "fiscal_documents_accessKey_idx" ON public.fiscal_documents USING btree ("accessKey");


--
-- Name: fiscal_documents_companyId_competenceMonth_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX "fiscal_documents_companyId_competenceMonth_idx" ON public.fiscal_documents USING btree ("companyId", "competenceMonth");


--
-- Name: fiscal_documents_companyId_dueDate_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX "fiscal_documents_companyId_dueDate_idx" ON public.fiscal_documents USING btree ("companyId", "dueDate");


--
-- Name: fiscal_documents_issuerCnpj_companyId_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX "fiscal_documents_issuerCnpj_companyId_idx" ON public.fiscal_documents USING btree ("issuerCnpj", "companyId");


--
-- Name: fixed_assets_company_id_group_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX fixed_assets_company_id_group_idx ON public.fixed_assets USING btree (company_id, "group");


--
-- Name: fixed_assets_company_id_internal_code_key; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE UNIQUE INDEX fixed_assets_company_id_internal_code_key ON public.fixed_assets USING btree (company_id, internal_code);


--
-- Name: fixed_assets_company_id_status_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX fixed_assets_company_id_status_idx ON public.fixed_assets USING btree (company_id, status);


--
-- Name: fixed_assets_deleted_at_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX fixed_assets_deleted_at_idx ON public.fixed_assets USING btree (deleted_at);


--
-- Name: journal_entries_company_id_date_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX journal_entries_company_id_date_idx ON public.journal_entries USING btree (company_id, date);


--
-- Name: journal_entry_items_account_id_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX journal_entry_items_account_id_idx ON public.journal_entry_items USING btree (account_id);


--
-- Name: person_companies_company_id_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX person_companies_company_id_idx ON public.person_companies USING btree (company_id);


--
-- Name: person_companies_person_id_company_id_role_start_date_key; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE UNIQUE INDEX person_companies_person_id_company_id_role_start_date_key ON public.person_companies USING btree (person_id, company_id, role, start_date);


--
-- Name: person_companies_person_id_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX person_companies_person_id_idx ON public.person_companies USING btree (person_id);


--
-- Name: persons_cpf_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX persons_cpf_idx ON public.persons USING btree (cpf);


--
-- Name: persons_cpf_key; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE UNIQUE INDEX persons_cpf_key ON public.persons USING btree (cpf);


--
-- Name: persons_deleted_at_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX persons_deleted_at_idx ON public.persons USING btree (deleted_at);


--
-- Name: persons_full_name_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX persons_full_name_idx ON public.persons USING btree (full_name);


--
-- Name: properties_company_id_deleted_at_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX properties_company_id_deleted_at_idx ON public.properties USING btree (company_id, deleted_at);


--
-- Name: properties_iptu_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX properties_iptu_idx ON public.properties USING btree (iptu);


--
-- Name: properties_registry_number_idx; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE INDEX properties_registry_number_idx ON public.properties USING btree (registry_number);


--
-- Name: user_companies_user_id_company_id_key; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE UNIQUE INDEX user_companies_user_id_company_id_key ON public.user_companies USING btree (user_id, company_id);


--
-- Name: users_document_key; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE UNIQUE INDEX users_document_key ON public.users USING btree (document);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: ledgr
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: AccountBalance AccountBalance_accountId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public."AccountBalance"
    ADD CONSTRAINT "AccountBalance_accountId_fkey" FOREIGN KEY ("accountId") REFERENCES public.chart_of_accounts(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: AccountBalance AccountBalance_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public."AccountBalance"
    ADD CONSTRAINT "AccountBalance_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: accounting_rules accounting_rules_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.accounting_rules
    ADD CONSTRAINT accounting_rules_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: accounting_rules accounting_rules_suggested_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.accounting_rules
    ADD CONSTRAINT accounting_rules_suggested_account_id_fkey FOREIGN KEY (suggested_account_id) REFERENCES public.chart_of_accounts(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: asset_appraisals asset_appraisals_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.asset_appraisals
    ADD CONSTRAINT asset_appraisals_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.fixed_assets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: asset_depreciation_logs asset_depreciation_logs_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.asset_depreciation_logs
    ADD CONSTRAINT asset_depreciation_logs_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.fixed_assets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: asset_history asset_history_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.asset_history
    ADD CONSTRAINT asset_history_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.fixed_assets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: asset_improvements asset_improvements_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.asset_improvements
    ADD CONSTRAINT asset_improvements_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.fixed_assets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: asset_maintenances asset_maintenances_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.asset_maintenances
    ADD CONSTRAINT asset_maintenances_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.fixed_assets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: asset_retrofit_phases asset_retrofit_phases_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.asset_retrofit_phases
    ADD CONSTRAINT asset_retrofit_phases_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.asset_retrofit_projects(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: asset_retrofit_projects asset_retrofit_projects_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.asset_retrofit_projects
    ADD CONSTRAINT asset_retrofit_projects_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.fixed_assets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: audit_logs audit_logs_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: certificates certificates_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: chart_of_accounts chart_of_accounts_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.chart_of_accounts
    ADD CONSTRAINT chart_of_accounts_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: chart_of_accounts chart_of_accounts_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.chart_of_accounts
    ADD CONSTRAINT chart_of_accounts_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: chart_of_accounts chart_of_accounts_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.chart_of_accounts
    ADD CONSTRAINT chart_of_accounts_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.chart_of_accounts(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: chart_of_accounts chart_of_accounts_updated_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.chart_of_accounts
    ADD CONSTRAINT chart_of_accounts_updated_by_id_fkey FOREIGN KEY (updated_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: corporate_books corporate_books_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.corporate_books
    ADD CONSTRAINT corporate_books_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: document_signatures document_signatures_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.document_signatures
    ADD CONSTRAINT document_signatures_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: document_signatures document_signatures_signer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.document_signatures
    ADD CONSTRAINT document_signatures_signer_id_fkey FOREIGN KEY (signer_id) REFERENCES public.document_signers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: document_signers document_signers_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.document_signers
    ADD CONSTRAINT document_signers_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: document_signers document_signers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.document_signers
    ADD CONSTRAINT document_signers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: document_templates document_templates_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.document_templates
    ADD CONSTRAINT document_templates_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: document_templates document_templates_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.document_templates
    ADD CONSTRAINT document_templates_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: document_versions document_versions_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT document_versions_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: document_versions document_versions_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT document_versions_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: documents documents_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: documents documents_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ecd_imports ecd_imports_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.ecd_imports
    ADD CONSTRAINT ecd_imports_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: employees employees_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: fixed_assets fixed_assets_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.fixed_assets
    ADD CONSTRAINT fixed_assets_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: fixed_assets fixed_assets_property_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.fixed_assets
    ADD CONSTRAINT fixed_assets_property_id_fkey FOREIGN KEY (property_id) REFERENCES public.properties(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: journal_entries journal_entries_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.journal_entries
    ADD CONSTRAINT journal_entries_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: journal_entry_items journal_entry_items_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.journal_entry_items
    ADD CONSTRAINT journal_entry_items_account_id_fkey FOREIGN KEY (account_id) REFERENCES public.chart_of_accounts(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: journal_entry_items journal_entry_items_journal_entry_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.journal_entry_items
    ADD CONSTRAINT journal_entry_items_journal_entry_id_fkey FOREIGN KEY (journal_entry_id) REFERENCES public.journal_entries(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: person_companies person_companies_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.person_companies
    ADD CONSTRAINT person_companies_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: person_companies person_companies_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.person_companies
    ADD CONSTRAINT person_companies_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.persons(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: properties properties_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT properties_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_companies user_companies_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.user_companies
    ADD CONSTRAINT user_companies_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_companies user_companies_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.user_companies
    ADD CONSTRAINT user_companies_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: users users_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.persons(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: users users_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ledgr
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: ledgr
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict bhRekJ8y6LhMetpMFtXZEe8OSbTSA9k23V5D7SyYtyGHJbf43QR7c6UfFnvaxVs

